<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

  <div class="header">
    <h1 align="center">WORKOUT TRACKER</h1>
    <div class="header-center">

    </div>
  </div>

  <div class="bg-img">
    <div class="container">
      <div class="topnav">
        <a [routerLink]="['/workout-va']" class="nav-link" routerLinkActive="active">View All</a>
        <a [routerLink]="['/create']" class="nav-link" routerLinkActive="active">Create</a>
        <a [routerLink]="['/view-all-category']" class="nav-link" routerLinkActive="active">Category</a>
        <a [routerLink]="['/track']" class="nav-link" routerLinkActive="active">Track</a>


      </div>


      <router-outlet></router-outlet>
    </div>

  </div>
</body>


</html>
